.back-borrowed {
    background-color: #f1f3f6;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.borrowed {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bookDetail {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.info {
    color: #555;
    font-size: 1rem;
    margin-bottom: 10px;
}

.button-borrowed {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-borrowed:hover {
    background-color: #0056b3;
}

.error {
    color: #d9534f;
    font-size: 1rem;
}

.loading {
    color: #555;
    font-size: 1.2rem;
}


.modal-prestar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p {
    margin-bottom: 20px;
}

.button-close {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-close:hover {
    background-color: #0056b3;
}

